/* Reset некоторых базовых стилей */
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body 
{
	background-color: #636363;
	font-family: sans-serif;
	line-height: 1.5;
}

header, main, footer 
{
    	width: 90%;
    	max-width: 1200px;
    	margin: auto;
    	padding: 1rem;
}

a 
{
    	color: inherit;
    	text-decoration: none;
}

button 
{
    	cursor: pointer;
    	font-size: 1rem;
    	padding: 5rem 5rem;
}

p 
{
	margin: 1rem;
}

ul, ol 
{
    	list-style: none;
}

