*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body 
{
	background-color: #555;
	font-family: sans-serif;
	line-height: 1.5;
}

header, main
{
  width: 90%;
  max-width: 1200px;
}

a 
{
  color: inherit;
  text-decoration: none;
}



p 
{
	margin: 0rem;
}

ul, ol 
{
  list-style: none;
}

.grid-split 
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	min-height: 100vh;
}

.title
{
  padding-bottom: 0.5rem;
}


.speisekarte 
{
	margin-bottom: 0.5rem;
}

.eigenwerbung
{
  background-color: #222;
  color: #fff;
  padding: 1rem;
}

.left-side 
{
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
}

.games-container
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.game
{
  border: 3px solid #AAA;
  padding: 1rem;
}


.right-side
{
  margin-right: 2rem;
  margin-left: 1rem;
}

.right-side > * 
{
  margin-bottom: 1rem;
}

.grid-split
{
  margin-top: 1rem;
}

footer
{
  background-color: #161617;
  margin-top: 1rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  font-size: 0.9rem;
  color: #999;

}

.banner
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  font-size: 1.6rem;
  color: #f57e46;
  background-color: #161617;
  padding: 0.8rem;
  font-family: "Times New Roman";
}

@media (max-width: 789px)
{
  .grid-split
  {
    grid-template-columns: 1fr;
  }
}

