*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body 
{
	background-color: #999;
	font-family: sans-serif;
	line-height: 1.5;
}

header, main
{
  width: 90%;
  max-width: 1200px;
}

a 
{
  color: inherit;
  text-decoration: none;
}



p 
{
	margin: 0rem;
}

ul, ol 
{
  list-style: none;
}

.grid-split 
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100vh;
}

@media (max-width: 768px)
{
  .grid-split 
   {
     grid-template-columns: 1fr;
   }
 }


.speisekarte 
{
	margin-bottom: 0.5rem;
}

.eigenwerbung
{
  background-color: #555;
  color: #fff;
  padding: 1rem;
}

.left-side 
{
  margin-left: 2rem;
  margin-right: 1rem;
  padding: 1rem;
  background-color: #CCC;
}

.right-side
{
  margin-right: 2rem;
  margin-left: 1rem;
}

.right-side > * 
{
  margin-bottom: 1rem;
}

.grid-split
{
  margin-top: 1rem;
}

footer
{
  background-color: #666;
  margin-top: 1rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  font-size: 0.9rem;
  color: #222;
}

#slot-machine
{
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

.reels
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 10;
}

.reel
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: #CCC;
  aspect-ratio: 1/1;
  margin: 1rem;
}

#slots
{
  text-align: center;
}

.reel.spin
{
  animation: flash 0.1s ease;
}

@keyframes flash 
{
  0% { transform: scale(1); }
  50% { transform: scale(1,0.9); background-color: #ccc;}
  100% { transform: scale(1); }
}



