*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a
{
  color: inherit;
  text-decoration: none;
}
.top
{
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  background: #555;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
canvas
{
  border: 4px solid #161617;
  background: #000;
}

.banner
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  font-size: 1.6rem;
  color: #f57e46;
  background-color: #161617;
  padding: 0.8rem;
  font-family: "Times New Roman";
}
.foot
{
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap; 4rem;
  font-size: 0.9rem;
  background-color: #222;
  font-family: sans-serif;
  color: #999;
}
