body
{
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  background: #111;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
canvas
{
  border: 2px solid #444;
  background: #000;
}
