:root
{
  --icon_width: 79px;
  --icon_height: 79px;
  --num_icons: 9;
}

body
{
  padding: 0;
  margin: 0;
  background-color: #555;
}

.banner
{
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  font-size: 1.6rem;
  font-family: "Times New Roman";
  padding: 0.8rem;
}

.center
{
  display: grid;
  place-items: center;
}

.slots
{
  display: grid;
  grid-template-columns: repeat(5, var(--icon_width));

}

.reel
{
  border: 1px solid black;
  height: calc(4*var(--icon_height));
  width: var(--icon_width);
  background-image: url("../_material/reels/tropic.webp");
}
