*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  background-color: #111;
  font-family: sans-serif;
  line-height: 1.5;
  color: #fff;
}

a
{
  color: inherit;
  text-decoration: none;
}


#slot-machine
{
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

.reels
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 10;
}

.eigenwerbung
{
  background-color: #555;
  color: #fff;
  padding: 1rem;
}

.up-side
{
  margin: 1rem;
}

.reel
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: #CCC;
  aspect-ratio: 1/1;
  margin: 1rem;
}

#slots
{
  text-align: center;
}

