*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  background-color: #999999;
  font-family: sans-serif;
  line-height: 1.5;
}

a
{
  color: inherit;
  text-decoration: none;
}


#slot-machine
{
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

.reels
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 50vh;
}

.eigenwerbung
{
  background-color: #888;
  color: #fff;
  padding: 1rem;
}

.up-side
{
  margin-left: 2rem;
  margin-right: 1rem;
  padding: 1rem;
  background-color: #555;

}
